.searchBar-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #00ADB5;
    padding: 20px;
    text-align: left;
    align-items: center;
    height: 100px;
  }
  .not-found{
    font-size: 30px;
    color: #fff;
  }

  